3may2017 eclipse code/upsmodelling/resources/html/defaultsToNewUsers/maptoolbar.dtd

<!ELEMENT SHOW-ZOOM-SLIDER EMPTY >
<!ATTLIST SHOW-ZOOM-SLIDER Show NMTOKEN #REQUIRED >

<!ELEMENT TOOLBAR-BUTTON EMPTY >
<!ATTLIST TOOLBAR-BUTTON disabledimage CDATA #REQUIRED >
<!ATTLIST TOOLBAR-BUTTON enabledimage CDATA #REQUIRED >
<!ATTLIST TOOLBAR-BUTTON tooltip CDATA #REQUIRED >
<!ATTLIST TOOLBAR-BUTTON action_command CDATA #REQUIRED >

<!ELEMENT TOOLBARS ( TOOLBAR-BUTTON+, SHOW-ZOOM-SLIDER ) >
